/* Variables */
:root {
    :root {
        --red1: hsl(3, 89%, 66%);
        --red2: hsl(3, 89%, 56%);
        --red3: hsl(3, 89%, 46%);
        --green1: hsl(142, 100%, 64%);
        --green2: hsl(142, 100%, 54%);
        --green3: hsl(142, 100%, 44%);
        --blue1: hsl(207, 100%, 64%);
        --blue2: hsl(207, 100%, 54%);
        --blue3: hsl(207, 100%, 44%);
    }
}
/* Fonts */
@font-face {
    font-family: Adventure;
    src: url(/fonts/AdventureRequest-j8W9.ttf);
}
@font-face {
    font-family: Pixel;
    src: url(/fonts/PixeloidSans-mLxMm.ttf);
}
@font-face {
    font-family: Stepalange;
    src: url(/fonts/Stepalange-x3BLm.otf);
}
body {
    height: 100svh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: rgb(18, 138, 18);
}
@media only screen and (min-width: 600px) {
    body {
        flex-direction: row;
    }
}

#townGrid {
    width: 100%;
    height: auto;
    max-width: 500px;
    display: grid;
    justify-items: center;
}

#toolBox {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: larger;
    font-family: Pixel;
}

.tool-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool-group input {
    transform: scale(1.5);
}

.tile {
    box-sizing: border-box;
    background-size: cover;
    border: 1px solid rgb(66, 66, 66);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.hidden {
    opacity: 0%;
    cursor: auto;
}