@font-face {
    font-family: Stepalange;
    src: url(/fonts/Stepalange-x3BLm.otf);
}

@keyframes fadeUp {
    0% {opacity: 0%; transform: translate(0, 20px);}
    100% {opacity: 100%; transform: translate(0, 0);}
}

body {
    height: 100svh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: rgb(18, 138, 18);
}

h1 {
    color: white;
    font-family: Stepalange;
    margin: 0;
    animation: fadeUp 1s;
}
#townGrid {
    width: 100%;
    height: auto;
    max-width: 500px;
    display: grid;
    justify-items: center;
}

#toolBox {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 1.5rem;
    font-family: Stepalange, Arial, Helvetica, sans-serif;
    background: linear-gradient(rgb(80, 80, 80), rgb(25, 25, 25));
}

.tool-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool-group input {
    transform: scale(2);
    margin: 0 10px;
    accent-color: brown;
    cursor: pointer;
}

.tile {
    box-sizing: border-box;
    background-size: cover;
    border: 1px dotted hsl(0, 0%, 36%, 50%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.hidden {
    opacity: 0%;
    cursor: auto;
}

@media only screen and (min-width: 600px) {
    body {
        flex-direction: row;
    }
    #toolBox {
        flex-direction: column;
        width: 20%;
    }
    .tool-group {
        margin: 0.5rem 0;
    }
}
